.container {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
body {
  margin: 0; /* Enlève les marges par défaut du corps */
  height: 100vh; /* Assure que le corps prend toute la hauteur de l'écran */
}


