<!-- start: Sidebar -->
<div class="fixed left-0 top-0 w-64 h-full bg-[#114C5A] p-4 z-50 sidebar-menu transition-transform">
  <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
    <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded object-cover">
    <span class="text-lg font-bold text-white ml-3">MoveSkills</span>
  </a>
  <ul class="mt-20 gap-8">
    <li class="mb-1 group active">
      <a href="#"
        class="flex items-center py-2 px-4 text-gray-300 hover:bg-[#EF7743] hover:text-[#EF7743] rounded-md group-[.active]:bg-[#EF7743] group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-xl">Tableau de bord</span>
      </a>
    </li>
    <li class="mb-1 group">
      <a href="#"
        class="flex items-center py-2 px-4 text-gray-300 hover:bg-[#EF7743] hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle">
        <i class="ri-instance-line mr-3 text-lg"></i>
        <span class="text-xl">Formations</span>
        <i class="ri-arrow-right-s-line ml-auto group-[.selected]:rotate-90"></i>
      </a>

    </li>
    <li class="mb-1 group">
      <a href="#"
        class="flex items-center py-2 px-4 text-gray-300 hover:bg-[#EF7743] hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100 sidebar-dropdown-toggle">
        <i class="ri-flashlight-line mr-3 text-lg"></i>
        <span class="text-xl">Parcours</span>
        <i class="ri-arrow-right-s-line ml-auto group-[.selected]:rotate-90"></i>
      </a>
    </li>
    <li class="mb-1 group">
      <a href="#"
        class="flex items-center py-2 px-4 text-gray-300 hover:bg-[#EF7743] hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
        <i class="ri-settings-2-line mr-3 text-lg"></i>
        <span class="text-xl">Clients</span>
      </a>
    </li>
    <li class="mb-1 group">
      <a href="#"
        class="flex items-center py-2 px-4 text-gray-300 hover:bg-[#EF7743] hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
        <i class="ri-settings-2-line mr-3 text-lg"></i>
        <span class="text-xl">Ventes</span>
      </a>
    </li>
  </ul>
  <ul class="mt-96">
    <li class="mb-1 group">
      <a href="#"
        class="flex items-center py-2 px-4 text-gray-300 hover:bg-[#EF7743] hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600 hover:text-gray-800" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 8.75a3.25 3.25 0 103.25 3.25A3.254 3.254 0 0012 8.75zM19.423 15.73a1.786 1.786 0 001.43.84h.232a1.787 1.787 0 001.657-1.7v-2.941a1.786 1.786 0 00-1.657-1.7h-.232a1.785 1.785 0 00-1.43.84l-.504.782a6.993 6.993 0 00-1.573-.918l-.008-.938a1.784 1.784 0 00-1.43-1.84V4.426a1.785 1.785 0 00-1.657-1.7H9.735a1.786 1.786 0 00-1.657 1.7v1.724a1.784 1.784 0 00-1.43 1.84v.938a6.992 6.992 0 00-1.573.918l-.504-.782a1.786 1.786 0 00-1.43-.84H3.346a1.787 1.787 0 00-1.657 1.7v2.941a1.786 1.786 0 001.657 1.7h.232a1.785 1.785 0 001.43-.84l.504-.782a6.992 6.992 0 001.573.918v.938a1.785 1.785 0 001.43 1.84v1.724a1.786 1.786 0 001.657 1.7h2.941a1.786 1.786 0 001.657-1.7v-1.724a1.785 1.785 0 001.43-1.84v-.938a6.992 6.992 0 001.573-.918l.504.782z" />
        </svg>

        <span class="text-xl">Paramétres</span>
      </a>
    </li>
  </ul>
</div>

<!-- end: Sidebar -->

<!-- start: Main -->
<main class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-50 min-h-screen transition-all main">

  <div class="py-2 px-6 h-20 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30">
    <div class="flex items-center text-xl ml-4">Mes parcours</div>

  </div>
</main>
<!-- end: Main -->
