.container {
  padding: 20px;
}

h1 {
  font-size: 24px;
}

.option-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.option {
  flex: 1;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-right: 15px;
  text-align: center;
}

label {
  margin-right: 10px;
}

.result {
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

/* Disque */
.circle-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.color-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(
    red 0% 25%, /* Rouge pourcentage basé sur le score */
    yellow 25% 50%, /* Jaune */
    green 50% 75%, /* Vert */
    blue 75% 100% /* Bleu */
  );
  margin-top: 20px;
}

.circle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.color-label {
  position: absolute;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

/* Ajuster la position des labels pour chaque couleur */
.color-label.red {
  top: 30px;
  left: 50px;
}

.color-label.yellow {
  top: 100px;
  left: 120px;
}

.color-label.green {
  top: 150px;
  left: 80px;
}

.color-label.blue {
  top: 70px;
  left: 150px;
}
.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.color-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.animal-icon {
  width: 40px;
  height: 40px;
}
.animal-icon {
  width: 60px; /* Taille de l'image */
  height: 60px;
  border-radius: 50%; /* Forme circulaire */
  object-fit: cover; /* Ajuste l'image pour remplir le cercle sans la déformer */
  border: 2px solid white; /* Facultatif : bordure blanche */
  position: absolute;
}

/* Positionner les images à côté du cercle avec un petit écart */
.icon-top-left {
  top: -80px; /* Ajustez cette valeur pour éloigner l'image du haut du cercle */
  left: -80px; /* Ajustez cette valeur pour éloigner l'image du côté gauche */
}

.icon-top-right {
  top: -80px;
  right: -80px;
}

.icon-bottom-right {
  bottom: -80px;
  right: -80px;
}

.icon-bottom-left {
  bottom: -80px;
  left: -80px;
}
